@model Movie

@using (Html.BeginForm("Registration", "Movie", FormMethod.Post))
{

    <h2>Movie Registration Form</h2>

    <div>
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id)
       </div>

            <div>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
            </div>

            <div>
                @Html.LabelFor(m => m.Genre)
                @Html.DropDownListFor(m => m.Genre, new SelectList(Enum.GetValues(typeof(Genre))))
            </div>
            <div>
                @Html.LabelFor(m => m.Year)
                @Html.TextBoxFor(m => m.Year)
            </div>
            <div>
                @Html.LabelFor(m => m.Runtime)
                @Html.TextBoxFor(m => m.Runtime)
            </div>

            <input type="submit" value="Submit" />
}


